:root {
    --primary: black;
    --secondary: white;
    --accent: rgb(0, 223, 223);
}

#bg_img {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

body {
    font-family: sans-serif;
    margin: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#content_center {
    flex:4;
    background-color: rgba(0, 0, 0, 0.514);
}

#content_left {
    flex: 1;
}

#content_right {
    flex: 1;
}

footer {
    height: 64px;
    background-color: black;
    color: var(--secondary);
    font-weight: bold;
    display: flex;
    justify-content: center;
}


header {
    height: 128px;
    background-color: var(--primary);
    color: var(--secondary);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#logo {
    display: block;
    height: 100%;
    width: auto;
}

#logo_container {
    display: flex;
    align-items: center;
    height: 100%;
}

#logo_text {
    font-weight: bold;
}

main {
    flex: 1;
    display: flex;
}

nav { 
    width: 50%;
    display: flex;
    justify-content: space-around;
}

nav > a {
    color: var(--secondary);
    text-decoration: none;
    font-weight: bold;
}

nav > a:hover {
    color: var(--accent);
}

