:root {
    --primary: black;
    --secondary: white;
    --accent: rgb(0, 223, 223);
}

#bg_img {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

body {
    font-family: sans-serif;
    margin: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#content_center {
    width: 70%;
    background-color: rgba(0, 0, 0, 0.514);
}

#content_left {
    flex: 1;
}

#content_right {
    flex: 1;
}

footer {
    height: 64px;
    background-color: black;
    color: var(--secondary);
    font-weight: bold;
    display: flex;
    justify-content: center;
}


header {
    height: 128px;
    background-color: var(--primary);
    color: var(--secondary);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#logo {
    display: block;
    height: 100%;
    width: auto;
}

#logo_container {
    display: flex;
    align-items: flex-end;
    height: 100%;
}

#logo_text {
    font-weight: bold;
    font-size: 24pt;
}

main {
    flex: 1;
    display: flex;
}

nav { 
    width: 50%;
    display: flex;
    justify-content: space-around;
}

nav > a {
    color: var(--secondary);
    text-decoration: none;
    font-weight: bold;
    font-size: 16pt;
}

nav > a:hover {
    color: var(--accent);
}

.post_preview {
    background-color: var(--primary);
    color: var(--secondary);
    display: flow-root;
    padding: 16px;
    border-radius: 15px;
    margin: 16px;
    border: 2px solid var(--accent);
}

.post_preview>img {
    object-fit: contain;
    float: right;
}

#resources {
    color: var(--secondary);
    padding: 16px;
}

#resources a {
    color: var(--secondary);

}

.slide {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
    width: 256px;
    height: 256px;
    background-color: var(--primary);
    border-radius: 15px;
    border: 2px solid var(--accent);
    margin: 8px 16px;
}

.slide:hover {
    background-color: var(--accent);
    cursor: pointer;
}

.slide > img {
    width: 80%;
    height: 80%;
    object-fit: contain;
}

.slider {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: thin;
    scrollbar-color: var(--accent) var(--primary);
}
